.ipynb_checkpoints/
__pycache__/
.DS_Store
pu_learing/data/
result/
results/
data/
*.pt 
mvp/results_master/FINAL_NONORM_labels_0.2.12.15_s1_1024_s2_768_ratio_3_n_10_PGW_0.2.npz
mvp/results_master/FINAL_NONORM_labels_0.2.12.15_s1_1024_s2_768_ratio_3_n_10_PGW_0.4.npz
mvp/results_master/FINAL_NONORM_labels_0.2.12.15_s1_1024_s2_768_ratio_3_n_10_PGW_0.6.npz
mvp/results_master/FINAL_NONORM_labels_0.2.12.15_s1_1024_s2_768_ratio_3_n_10_PGW_1.0.npz
mvp/results_master/FINAL_NONORM_labels_0.2.12.15_s1_1024_s2_768_ratio_3_n_10.txt
mvp/results_master/FINAL1_labels_0.2.12.15_s1_1024_s2_768_ratio_3_n_10_PGW_0.1.npz
mvp/results_master/FINAL1_labels_0.2.12.15_s1_1024_s2_768_ratio_3_n_10_PGW_0.2.npz
mvp/results_master/FINAL1_labels_0.2.12.15_s1_1024_s2_768_ratio_3_n_10_PGW_0.15.npz
mvp/results_master/FINAL1_labels_0.2.12.15_s1_1024_s2_768_ratio_3_n_10.txt
mvp/results_master/FINAL2_labels_0.2.12.15_s1_1024_s2_768_ratio_3_n_10_PGW_0.4.npz
mvp/results_master/FINAL2_labels_0.2.12.15_s1_1024_s2_768_ratio_3_n_10_PGW_0.6.npz
mvp/results_master/FINAL2_labels_0.2.12.15_s1_1024_s2_768_ratio_3_n_10.txt
mvp/results-0268/save_1000/1000_reference.npz
mvp/results-0268/save_1000/gw_1000.npz
mvp/results-0268/save_1000/lgw_1000.npz
mvp/results-0268/save_1000/lpgw_1000_0.1.npz
mvp/results-0268/save_1000/lpgw_1000_0.2.npz
mvp/results-0268/save_1000/lpgw_1000_0.3.npz
mvp/results-0268/save_1000/lpgw_1000_0.5.npz
mvp/results-0268/save_1000/pgw_1000_0.1.npz
mvp/results-0268/save_1000/pgw_1000_0.3.npz
mvp/results-0268/save_1000/pgw_1000_0.5.npz
mvp/results-0268/save_2048/2048_reference.npz
mvp/results-0268/save_2048/gw_2048.npz
mvp/results-0268/save_2048/lgw_2048.npz
mvp/results-0268/save_2048/lpgw_2048_0.1.npz
mvp/results-0268/save_2048/lpgw_2048_0.3.npz
mvp/results-0268/save_2048/lpgw_2048_0.5.npz
mvp/results-0268/save_2048/pgw_2048_0.1.npz
mvp/results-0268/save_2048/pgw_2048_0.3.npz
mvp/results-0268/save_2048/pgw_2048_0.5.npz
mvp/results-0268/save_2_3/gw_500.npz
mvp/results-0268/save_2_3/pgw_500_0.2.npz
mvp/results-0268/save_2_3/pgw_500_0.5.npz
mvp/results-0268/save_2_3/pgw_500_1.0.npz
mvp/results-0268/save_500/gw_500.npz
mvp/results-0268/save_500/lgw_500.npz
mvp/results-0268/save_500/lpgw_500_0.1.npz
mvp/results-0268/save_500/lpgw_500_0.3.npz
mvp/results-0268/save_500/lpgw_500_0.5.npz
mvp/results-0268/save_500/lpgw_500_1.0.npz
mvp/results-0268/save_500/pgw_500_0.1.npz
mvp/results-0268/save_500/pgw_500_0.3.npz
mvp/results-0268/save_500/pgw_500_0.5.npz
ellipses/results-Copy1/lpgw_0.007.pt
ellipses/results-Copy1/lpgw_0.100.png
ellipses/results-Copy1/lpgw_0.100.pt
ellipses/results-Copy1/lpgw_0.300.png
ellipses/results-Copy1/lpgw_0.300.pt
ellipses/results-Copy1/lpgw_0.500.png
ellipses/results-Copy1/lpgw_0.500.pt
ellipses/results-Copy1/lpgw_1.000.png
ellipses/results-Copy1/lpgw_1.000.pt
ellipses/results-Copy1/lpgw2_0.100.pt
ellipses/results-Copy1/lpgw2_0.300.pt
ellipses/results-Copy1/lpgw2_0.500.pt
ellipses/results-Copy1/pgw_0.007.pt
ellipses/results-Copy1/pgw_0.100.pt
ellipses/results-Copy1/pgw_0.300.pt
ellipses/results-Copy1/pgw_0.500.pt
ellipses/results-Copy1/pgw_1.000.pt
ellipses/results-Copy1/refs_imgs.pt
ellipses/results-Copy1/refs.pt
ellipses/results-Copy1/gw.pt
ellipses/results-Copy1/imgs.pt
ellipses/results-Copy1/lgw.pt
ellipses/results-save_2/gw.pt
ellipses/results-save_2/imgs.pt
ellipses/results-save_2/lgw.pt
ellipses/results-save_2/lpgw_0.007.pt
ellipses/results-save_2/lpgw_0.100.pt
ellipses/results-save_2/lpgw_0.300.pt
ellipses/results-save_2/lpgw_0.500.pt
ellipses/results-save_2/lpgw_1.000.pt
ellipses/results-save_2/lpgw2_0.100.pt
ellipses/results-save_2/lpgw2_0.300.pt
ellipses/results-save_2/lpgw2_0.500.pt
ellipses/results-save_2/pgw_0.007.pt
ellipses/results-save_2/pgw_0.100.pt
ellipses/results-save_2/pgw_0.300.pt
ellipses/results-save_2/pgw_0.500.pt
ellipses/results_nl_np/gw.pt
ellipses/results_nl_np/imgs.pt
ellipses/results_nl_np/lgw.png
ellipses/results_nl_np/lgw.pt
ellipses/results_nl_np/lpgw_0.1.png
ellipses/results_nl_np/lpgw_0.007.png
ellipses/results_nl_np/lpgw_0.007.pt
ellipses/results_nl_np/lpgw_0.010.png
ellipses/results_nl_np/lpgw_0.010.pt
ellipses/results_nl_np/lpgw_0.030.png
ellipses/results_nl_np/lpgw_0.030.pt
ellipses/results_nl_np/lpgw_0.050.png
ellipses/results_nl_np/lpgw_0.050.pt
ellipses/results_nl_np/lpgw_0.080.pt
ellipses/results_nl_np/lpgw_0.100.png
ellipses/results_nl_np/lpgw_0.100.pt
ellipses/results_nl_np/lpgw_0.300.png
ellipses/results_nl_np/lpgw_0.300.pt
ellipses/results_nl_np/lpgw_0.500.png
ellipses/results_nl_np/lpgw_0.500.pt
ellipses/results_nl_np/lpgw_mds_0.010.png
ellipses/results_nl_np/lpgw_mds_0.030.png
ellipses/results_nl_np/lpgw_mds_0.050.png
ellipses/results_nl_np/lpgw_mds_0.100.png
ellipses/results_nl_np/lpgw_mds_0.300.png
ellipses/results_nl_np/lpgw_mds_0.500.png
ellipses/results_nl_np/pgw_0.010.pt
ellipses/results_nl_np/pgw_0.030.pt
ellipses/results_nl_np/pgw_0.050.pt
ellipses/results_nl_np/pgw_0.080.pt
ellipses/results_nl_np/pgw_0.100.pt
ellipses/results_nl_np/pgw_0.300.pt
ellipses/results_nl_np/pgw_0.500.pt
ellipses/results_nl_np/pgw_1.000.pt
ellipses/results_nl_np/Screenshot 2024-08-07 at 9.48.45 AM.png
ellipses/results_nl_np_ns/lpgw_0.010.pt
ellipses/results_nl_np_ns/lpgw_0.030.png
ellipses/results_nl_np_ns/lpgw_0.030.pt
ellipses/results_nl_np_ns/lpgw_0.050.png
ellipses/results_nl_np_ns/lpgw_0.050.pt
ellipses/results_nl_np_ns/lpgw_0.100.png
ellipses/results_nl_np_ns/lpgw_0.100.pt
ellipses/results_nl_np_ns/lpgw_0.300.png
ellipses/results_nl_np_ns/lpgw_0.300.pt
ellipses/results_nl_np_ns/lpgw_0.500.png
ellipses/results_nl_np_ns/lpgw_0.500.pt
ellipses/results_nl_np_ns/pgw_0.010.pt
ellipses/results_nl_np_ns/pgw_0.030.pt
ellipses/results_nl_np_ns/pgw_0.050.pt
ellipses/results_nl_np_ns/pgw_0.100.pt
ellipses/results_nl_np_ns/pgw_0.300.pt
ellipses/results_nl_np_ns/pgw_0.500.pt
ellipses/results_nl_np_square/ellipse_data_normalized.png
ellipses/results_nl_np_square/ellipse_data.png
ellipses/results_nl_np_square/ellipse_gw.png
ellipses/results_nl_np_square/ellipse_reference.png
ellipses/results_nl_np_square/ellipse.png
ellipses/results_nl_np_square/gw.pt
ellipses/results_nl_np_square/imgs.pt
ellipses/results_nl_np_square/lgw.png
ellipses/results_nl_np_square/lgw.pt
ellipses/results_nl_np_square/lpgw_0.1.png
ellipses/results_nl_np_square/lpgw_0.007.png
ellipses/results_nl_np_square/lpgw_0.007.pt
ellipses/results_nl_np_square/lpgw_0.010.png
ellipses/results_nl_np_square/lpgw_0.010.pt
ellipses/results_nl_np_square/lpgw_0.030.png
ellipses/results_nl_np_square/lpgw_0.030.pt
ellipses/results_nl_np_square/lpgw_0.050.png
ellipses/results_nl_np_square/lpgw_0.050.pt
ellipses/results_nl_np_square/lpgw_0.080.pt
ellipses/results_nl_np_square/lpgw_0.100.png
ellipses/results_nl_np_square/lpgw_0.100.pt
ellipses/results_nl_np_square/lpgw_0.300.png
ellipses/results_nl_np_square/lpgw_0.300.pt
ellipses/results_nl_np_square/lpgw_0.500.png
ellipses/results_nl_np_square/lpgw_0.500.pt
ellipses/results_nl_np_square/lpgw_mds_0.010.png
ellipses/results_nl_np_square/lpgw_mds_0.030.png
ellipses/results_nl_np_square/lpgw_mds_0.050.png
ellipses/results_nl_np_square/lpgw_mds_0.100.png
ellipses/results_nl_np_square/lpgw_mds_0.300.png
ellipses/results_nl_np_square/lpgw_mds_0.500.png
ellipses/results_nl_np_square/pgw_0.010.pt
ellipses/results_nl_np_square/pgw_0.030.pt
ellipses/results_nl_np_square/pgw_0.050.pt
ellipses/results_nl_np_square/pgw_0.080.pt
ellipses/results_nl_np_square/pgw_0.100.pt
ellipses/results_nl_np_square/pgw_0.300.pt
ellipses/results_nl_np_square/pgw_0.500.pt
ellipses/results_nl_np_square/pgw_1.000.pt
ellipses/results_nl_np_square/S_1.png
ellipses/results_nl_np_square/S_2.png
ellipses/results_nl_np_square/S_3.png
ellipses/results_nl_np_square/S_4.png
ellipses/results_nl_np_square/S_5.png
ellipses/results_nl_np_square/S_6.png
ellipses/results_nl_np_square/S_7.png
ellipses/results_nl_np_square/S_8.png
ellipses/results_nl_np_square/S_9.png
ellipses/results_nl_np_square/Screenshot 2024-08-07 at 9.48.45 AM.png
ellipses/results_nl_up/lpgw_0.100.pt
ellipses/results_nl_up/pgw_0.300.pt
ellipses/results_nl_up/pgw_0.500.pt
ellipses/results_save/gw.pt
ellipses/results_save/lgw.png
ellipses/results_save/lgw.pt
ellipses/results_save/lpgw_0.007.png
ellipses/results_save/lpgw_0.007.pt
ellipses/results_save/lpgw_0.100.png
ellipses/results_save/lpgw_0.100.pt
ellipses/results_save/lpgw_1.000.png
ellipses/results_save/lpgw_1.000.pt
ellipses/results_save/lpgw_mds_0.007.png
ellipses/results_save/lpgw_mds_0.100.png
ellipses/results_save/lpgw_mds_0.300.png
ellipses/results_save/lpgw_mds_1.000.png
ellipses/results_save/pgw_0.007.pt
ellipses/results_save/pgw_0.100.pt
ellipses/results_save/pgw_1.000.pt
ellipses/results_save/refs_imgs.pt
ellipses/results_save/refs.pt
ellipses/results_save/S_1.png
ellipses/results_save/S_2.png
ellipses/results_save/S_3.png
ellipses/results_save/S_4.png
ellipses/results_save/S_5.png
ellipses/results_save/S_6.png
ellipses/results_save/S_7.png
ellipses/results_save/S_8.png
ellipses/results_save/S_9.png
ellipses/results_save/Screenshot 2024-08-07 at 9.48.45 AM.png
ellipses/results_ul_np/lpgw_21.200.pt
ellipses/results_ul_np/lpgw_42.400.pt
ellipses/results_ul_np/pgw_21.200.pt
ellipses/results_ul_np/pgw_42.400.pt
ellipses/results-save_2/pgw_1.000.pt
ellipses/results-save_2/refs_imgs.pt
ellipses/results-save_2/refs.pt
ellipses/results-Copy1/ellipse_data_normalized.png
ellipses/results-Copy1/ellipse_data.png
ellipses/results-Copy1/ellipse_gw.png
ellipses/results-Copy1/ellipse_reference.png
ellipses/results-Copy1/ellipse.png
ellipses/results-Copy1/lgw.png
ellipses/results-Copy1/lpgw_0.1.png
ellipses/results-Copy1/lpgw_0.007.png
ellipses/results-Copy1/lpgw_mds_0.100.png
ellipses/results-Copy1/lpgw_mds_0.300.png
ellipses/results-Copy1/lpgw_mds_0.500.png
ellipses/results-Copy1/lpgw_mds_1.000.png
ellipses/results-Copy1/S_1.png
ellipses/results-Copy1/S_2.png
ellipses/results-Copy1/S_3.png
ellipses/results-Copy1/S_4.png
ellipses/results-Copy1/S_5.png
ellipses/results-Copy1/S_6.png
ellipses/results-Copy1/S_7.png
ellipses/results-Copy1/S_8.png
ellipses/results-Copy1/S_9.png
ellipses/results-Copy1/Screenshot 2024-08-07 at 9.48.45 AM.png
ellipses/results-save_2/ellipse_data_normalized.png
ellipses/results-save_2/ellipse_data.png
ellipses/results-save_2/ellipse_gw.png
ellipses/results-save_2/ellipse_reference.png
ellipses/results-save_2/ellipse.png
ellipses/results-save_2/lgw.png
ellipses/results-save_2/lpgw_0.1.png
ellipses/results-save_2/lpgw_0.007.png
ellipses/results-save_2/lpgw_0.100.png
ellipses/results-save_2/lpgw_0.300.png
ellipses/results-save_2/lpgw_0.500.png
ellipses/results-save_2/lpgw_1.000.png
ellipses/results-save_2/lpgw_mds_0.100.png
ellipses/results-save_2/lpgw_mds_0.300.png
ellipses/results-save_2/lpgw_mds_0.500.png
ellipses/results-save_2/lpgw_mds_1.000.png
ellipses/results-save_2/S_1.png
ellipses/results-save_2/S_2.png
ellipses/results-save_2/S_3.png
ellipses/results-save_2/S_4.png
ellipses/results-save_2/S_5.png
ellipses/results-save_2/S_6.png
ellipses/results-save_2/S_7.png
ellipses/results-save_2/S_8.png
ellipses/results-save_2/S_9.png
ellipses/results-save_2/Screenshot 2024-08-07 at 9.48.45 AM.png
ellipses/results_nl_np/ellipse_data_normalized.png
ellipses/results_nl_np/ellipse_data.png
ellipses/results_nl_np/ellipse_gw.png
ellipses/results_nl_np/ellipse_reference.png
ellipses/results_nl_np/ellipse.png
ellipses/results_nl_np/S_1.png
ellipses/results_nl_np/S_2.png
ellipses/results_nl_np/S_3.png
ellipses/results_nl_np/S_4.png
ellipses/results_nl_np/S_5.png
ellipses/results_nl_np/S_6.png
ellipses/results_nl_np/S_7.png
ellipses/results_nl_np/S_8.png
ellipses/results_nl_np/S_9.png
mvp/results-0268/mvp.png
mvp/results-0268/mvp.pdf
